.flex-container {
    display: flex;
    flex-wrap: wrap;
    margin: 0 20%;
}

@media (max-width: 767px) {
    /* for smartphone*/
    .flex-container {
        display: flex;
        flex-wrap: wrap;
        margin: 0;
    }
}